/* Cart Items Container */
#cart_items {
    margin-top: 20px;
    display: none;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.cart-item h1 {
    font-size: 20px;
    color: #333;
}

.cart-item span {
    font-weight: bold;
    color: #cc0c2c;
}

/* Price Section */
#price_container {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-family: Arial, sans-serif;
}

/* Clear Cart Button */
button.clear-cart {
    padding: 10px 20px;
    background-color: red;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

button.clear-cart:hover {
    background-color: #ff5757;
}
